.liquid-ether-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    touch-action: none;
}


/* Ensure the canvas stretches perfectly when used full-screen */
.liquid-ether-container>canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}